body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/concrete_seamless.png");
}

a.navbar-brand {
  padding:0;
}

nav.navbar {
  background: #ffffff;
  border-bottom: 2px #cccccc solid;
  margin-bottom: 20px;
}

ul.navbar-nav {
  float:right;
}

.padMeNot {
  padding: 0 0 0 0;
  width: 100%;
}

.floatRight {
  float: right;
}

#main {
  background: #ffffff;
  border: 2px solid #dddddd;
}

p {
  line-height: 24pt;
}

#profile {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 200px;
}

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  float: left;
  background: #4aaaa5;
  padding: 30px;
  margin: 0;
  color: white;
}

#heading {
  padding-left: 0;
  background: #ffffff;
  color: #4aaaa5;
  float: none;
  margin-bottom: 40px;
  border-bottom: 2px #cccccc solid;
}

a{
  color: #777777;
  text-decoration: none;
}

footer {
  border-top: 8px solid #4aaaa5;
  background: #666666;
  text-align: center;
  padding-top: 40px;
  color: white;
  margin-top:30px;
}

#IMG1, #IMG2, #IMG3, #IMG4, #IMG5 {
  margin: 0 20px 30px 0;
}

.caption {
  background: #4aaaa5;
  color: #ffffff;
  position: absolute;
  width: 300px;
  padding: 15px 0;
  margin: 10px 0;
  margin-top: 145px;
  text-align: center;
}

.caption a {
  color: #ffffff;;
}

.pics {
  float: left;
  display: flex;
  font-size: large;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

input[type=text], input[type=email], textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  margin: 8px 0;
  padding: 6px 20px;
  background: #4aaaa5;
  color: #ffffff;
  border: none;
}
